.navbar {
  width: 90%;
  max-width: 1200px;
  height: auto; /* خلينا الطول يتحدد تلقائيًا */
  background: transparent;
  border: 0.3rem solid #031c70;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 1rem auto; /* يتوسط الصفحة تلقائيًا */
  position: relative;
  z-index: 6;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #031c70;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bolder;
  font-style: italic;
  position: relative;
  padding: 0.5rem;
}
.nav-links a:hover ,.nav-links a:active {
  color: #F00AC8;
}
.btn-container {
  margin-left: auto;
}
.btn-active {
  background: linear-gradient(90deg, #e24479, #F00AC8);
  padding: 0.5rem 1.25rem;
  border-radius: 20px;
  color: rgb(37, 37, 37);
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  transition: opacity 0.3s ease;
  margin-left: 2rem;
}
.btn-active:hover {
  opacity: 0.8;
}

.logo {
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 700;
  font-size: 1.5rem;
  font-weight: bold;
  color: #F00AC8;
  font-style: italic;
  text-transform: lowercase;
    /* font-family: 'Pacifico'; */
    text-shadow: 4px 4px 6px rgba(0,0, 0, 5);
}