html, body, #root {
  margin: 0; /* إزالة الهوامش الافتراضية للمتصفح */
  padding: 0; /* إزالة الحشوات الافتراضية للمتصفح */
  width: 100%; /* جعل العرض يملأ الشاشة بالكامل */
  height: 100%; /* جعل الارتفاع يملأ الشاشة بالكامل */
  display: block;
  place-items : unset;
  overflow: hidden; /* منع ظهور أشرطة التمرير غير المرغوب فيها على مستوى الصفحة */
}
